.rap-display {
  position: relative;
}

.rap-display * {
  -khtml-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -box-sizing:border-box;
  overflow: hidden;
}

.rap-display .Control  {
  position: absolute;
  overflow: hidden;
}

.rap-display .Button {
  white-space: nowrap /* TODO: move to view theme parser*/;
}