List-Item:selected,List-Item:selected:hover { /* order of rules is currently lost */
  color: #ffffff;
  background-color: #00589f;
  background-image: gradient(
    linear, left top, left bottom,
    from( #5882b5 ),
    to( #416693 )
  );
}